USE [master]
GO
/****** Object:  Database [CSDL_SMART_ATM]    Script Date: 11/22/2023 8:15:40 PM ******/
CREATE DATABASE [CSDL_SMART_ATM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDL_SMART_ATM', FILENAME = N'D:\MSSQL12.SQLEXPRESS\MSSQL\DATA\CSDL_SMART_ATM.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSDL_SMART_ATM_log', FILENAME = N'D:\MSSQL12.SQLEXPRESS\MSSQL\DATA\CSDL_SMART_ATM_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDL_SMART_ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDL_SMART_ATM]
GO
/****** Object:  Table [dbo].[CHUYENKHOAN]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYENKHOAN](
	[SoTienCK] [int] NOT NULL,
	[STKden] [nvarchar](20) NOT NULL,
	[NHden] [nvarchar](50) NOT NULL,
	[TimeCK] [datetime] NOT NULL DEFAULT (getdate()),
	[MaATM] [char](6) NOT NULL,
	[MaThe] [char](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaATM] ASC,
	[MaThe] ASC,
	[TimeCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [char](5) NOT NULL,
	[LoaiHD] [nvarchar](20) NOT NULL,
	[NhaCC] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [char](5) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](4) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [char](10) NULL,
	[DiaChiKH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOANVAY]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOANVAY](
	[MaKV] [char](5) NOT NULL,
	[MaxVay] [int] NOT NULL,
	[ThoiHan] [int] NOT NULL,
	[DKVay] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUT_GUI]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUT_GUI](
	[LoaiRG] [nvarchar](10) NOT NULL,
	[SoTienRG] [int] NOT NULL,
	[TimeRG] [datetime] NOT NULL DEFAULT (getdate()),
	[MaATM] [char](6) NOT NULL,
	[MaThe] [char](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaATM] ASC,
	[MaThe] ASC,
	[TimeRG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SmartATM]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SmartATM](
	[MaATM] [char](6) NOT NULL,
	[DiaChiATM] [nvarchar](100) NOT NULL,
	[SoDuATM] [int] NOT NULL,
	[TinhTrangATM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaATM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTK] [char](5) NOT NULL,
	[TenTK] [nvarchar](50) NOT NULL,
	[SoDuTK] [int] NOT NULL,
	[NgayMoTK] [date] NULL,
	[MaKH] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANHTOANHD]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANHTOANHD](
	[SoTienTTHD] [int] NOT NULL,
	[TimeTTHD] [datetime] NOT NULL DEFAULT (getdate()),
	[MaATM] [char](6) NOT NULL,
	[MaThe] [char](7) NOT NULL,
	[MaHD] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaATM] ASC,
	[MaThe] ASC,
	[MaHD] ASC,
	[TimeTTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THE]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THE](
	[MaThe] [char](7) NOT NULL,
	[TenThe] [nvarchar](50) NOT NULL,
	[LoaiThe] [nvarchar](20) NOT NULL,
	[NgayCapThe] [date] NULL,
	[NgayHetThe] [date] NULL,
	[MaTK] [char](5) NOT NULL,
	[MaATM] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VAY]    Script Date: 11/22/2023 8:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VAY](
	[SoTienVay] [int] NOT NULL,
	[LaiSuatVay] [float] NOT NULL,
	[TimeVay] [datetime] NOT NULL DEFAULT (getdate()),
	[MaATM] [char](6) NOT NULL,
	[MaThe] [char](7) NOT NULL,
	[MaKV] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaATM] ASC,
	[MaThe] ASC,
	[MaKV] ASC,
	[TimeVay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUYENKHOAN] ([SoTienCK], [STKden], [NHden], [TimeCK], [MaATM], [MaThe]) VALUES (1800000, N'TK010', N'NH003', CAST(N'2023-11-12 18:25:00.000' AS DateTime), N'ATM001', N'CARD011')
INSERT [dbo].[CHUYENKHOAN] ([SoTienCK], [STKden], [NHden], [TimeCK], [MaATM], [MaThe]) VALUES (1400000, N'TK001', N'NH001', CAST(N'2024-09-12 11:40:00.000' AS DateTime), N'ATM001', N'CARD021')
INSERT [dbo].[CHUYENKHOAN] ([SoTienCK], [STKden], [NHden], [TimeCK], [MaATM], [MaThe]) VALUES (800000, N'TK008', N'NH005', CAST(N'2023-02-15 14:45:00.000' AS DateTime), N'ATM002', N'CARD002')
INSERT [dbo].[HOADON] ([MaHD], [LoaiHD], [NhaCC]) VALUES (N'HD001', N'Tiền điện', N'EVN')
INSERT [dbo].[HOADON] ([MaHD], [LoaiHD], [NhaCC]) VALUES (N'HD002', N'Tiền nước', N'Viwass')
INSERT [dbo].[HOADON] ([MaHD], [LoaiHD], [NhaCC]) VALUES (N'HD003', N'Internet', N'FPT')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChiKH]) VALUES (N'KH001', N'Nguyễn Văn A', N'Nam', CAST(N'1990-01-01' AS Date), N'0987654321', N'Số 123 Đường ABC')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChiKH]) VALUES (N'KH002', N'Trần Thị B', N'Nữ', CAST(N'1995-05-15' AS Date), N'0901234567', N'Số 456 Đường XYZ')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChiKH]) VALUES (N'KH003', N'Lê Văn C', N'Nam', CAST(N'1988-11-30' AS Date), N'0912345678', N'Số 789 Đường KLM')
INSERT [dbo].[KHOANVAY] ([MaKV], [MaxVay], [ThoiHan], [DKVay]) VALUES (N'KV001', 5000000, 12, N'Thu nhập ổn định, không nợ xấu')
INSERT [dbo].[KHOANVAY] ([MaKV], [MaxVay], [ThoiHan], [DKVay]) VALUES (N'KV002', 8000000, 24, N'Thu nhập cao, có tài sản đảm bảo')
INSERT [dbo].[KHOANVAY] ([MaKV], [MaxVay], [ThoiHan], [DKVay]) VALUES (N'KV003', 3000000, 18, N'Có công việc ổn định')
INSERT [dbo].[RUT_GUI] ([LoaiRG], [SoTienRG], [TimeRG], [MaATM], [MaThe]) VALUES (N'RUT', 900000, CAST(N'2023-10-20 15:55:00.000' AS DateTime), N'ATM001', N'CARD009')
INSERT [dbo].[RUT_GUI] ([LoaiRG], [SoTienRG], [TimeRG], [MaATM], [MaThe]) VALUES (N'GUI', 1100000, CAST(N'2023-11-12 18:25:00.000' AS DateTime), N'ATM001', N'CARD011')
INSERT [dbo].[RUT_GUI] ([LoaiRG], [SoTienRG], [TimeRG], [MaATM], [MaThe]) VALUES (N'RUT', 1600000, CAST(N'2024-01-14 15:50:00.000' AS DateTime), N'ATM001', N'CARD013')
INSERT [dbo].[SmartATM] ([MaATM], [DiaChiATM], [SoDuATM], [TinhTrangATM]) VALUES (N'ATM001', N'123 Nguyễn Văn A, Quận 1, TP.HCM', 50000000, N'Hoạt động')
INSERT [dbo].[SmartATM] ([MaATM], [DiaChiATM], [SoDuATM], [TinhTrangATM]) VALUES (N'ATM002', N'456 Lê Thị B, Quận 2, TP.HCM', 70000000, N'Hoạt động')
INSERT [dbo].[SmartATM] ([MaATM], [DiaChiATM], [SoDuATM], [TinhTrangATM]) VALUES (N'ATM003', N'789 Trần Văn C, Quận 3, TP.HCM', 100000000, N'Hoạt động')
INSERT [dbo].[TAIKHOAN] ([MaTK], [TenTK], [SoDuTK], [NgayMoTK], [MaKH]) VALUES (N'TK001', N'NGUYỄN VĂN A', 10000000, CAST(N'2023-01-01' AS Date), N'KH001')
INSERT [dbo].[TAIKHOAN] ([MaTK], [TenTK], [SoDuTK], [NgayMoTK], [MaKH]) VALUES (N'TK002', N'TRẦN THỊ B', 5000000, CAST(N'2023-02-15' AS Date), N'KH002')
INSERT [dbo].[TAIKHOAN] ([MaTK], [TenTK], [SoDuTK], [NgayMoTK], [MaKH]) VALUES (N'TK003', N'LÊ VĂN C', 7500000, CAST(N'2023-03-30' AS Date), N'KH003')
INSERT [dbo].[THANHTOANHD] ([SoTienTTHD], [TimeTTHD], [MaATM], [MaThe], [MaHD]) VALUES (1000000, CAST(N'2023-11-22 06:26:00.000' AS DateTime), N'ATM001', N'CARD001', N'HD001')
INSERT [dbo].[THANHTOANHD] ([SoTienTTHD], [TimeTTHD], [MaATM], [MaThe], [MaHD]) VALUES (11400000, CAST(N'2023-11-22 06:59:00.000' AS DateTime), N'ATM001', N'CARD009', N'HD006')
INSERT [dbo].[THANHTOANHD] ([SoTienTTHD], [TimeTTHD], [MaATM], [MaThe], [MaHD]) VALUES (1200000, CAST(N'2023-11-22 06:27:00.000' AS DateTime), N'ATM002', N'CARD003', N'HD002')
INSERT [dbo].[THE] ([MaThe], [TenThe], [LoaiThe], [NgayCapThe], [NgayHetThe], [MaTK], [MaATM]) VALUES (N'CARD001', N'Card A', N'Credit', CAST(N'2023-01-01' AS Date), CAST(N'2025-01-01' AS Date), N'TK003', N'ATM008')
INSERT [dbo].[THE] ([MaThe], [TenThe], [LoaiThe], [NgayCapThe], [NgayHetThe], [MaTK], [MaATM]) VALUES (N'CARD002', N'Card B', N'Debit', CAST(N'2023-02-15' AS Date), CAST(N'2024-02-15' AS Date), N'TK008', N'ATM002')
INSERT [dbo].[THE] ([MaThe], [TenThe], [LoaiThe], [NgayCapThe], [NgayHetThe], [MaTK], [MaATM]) VALUES (N'CARD003', N'Card C', N'Credit', CAST(N'2023-03-30' AS Date), CAST(N'2025-03-30' AS Date), N'TK002', N'ATM005')
INSERT [dbo].[VAY] ([SoTienVay], [LaiSuatVay], [TimeVay], [MaATM], [MaThe], [MaKV]) VALUES (1800000, 0.015, CAST(N'2023-04-10 18:05:00.000' AS DateTime), N'ATM001', N'CARD004', N'KV009')
INSERT [dbo].[VAY] ([SoTienVay], [LaiSuatVay], [TimeVay], [MaATM], [MaThe], [MaKV]) VALUES (700000, 0.03, CAST(N'2024-07-24 10:20:00.000' AS DateTime), N'ATM001', N'CARD014', N'KV009')
INSERT [dbo].[VAY] ([SoTienVay], [LaiSuatVay], [TimeVay], [MaATM], [MaThe], [MaKV]) VALUES (1400000, 0.025, CAST(N'2024-09-12 11:40:00.000' AS DateTime), N'ATM001', N'CARD021', N'KV004')
ALTER TABLE [dbo].[CHUYENKHOAN]  WITH CHECK ADD FOREIGN KEY([MaATM])
REFERENCES [dbo].[SmartATM] ([MaATM])
GO
ALTER TABLE [dbo].[CHUYENKHOAN]  WITH CHECK ADD FOREIGN KEY([MaThe])
REFERENCES [dbo].[THE] ([MaThe])
GO
ALTER TABLE [dbo].[RUT_GUI]  WITH CHECK ADD FOREIGN KEY([MaATM])
REFERENCES [dbo].[SmartATM] ([MaATM])
GO
ALTER TABLE [dbo].[RUT_GUI]  WITH CHECK ADD FOREIGN KEY([MaThe])
REFERENCES [dbo].[THE] ([MaThe])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[THANHTOANHD]  WITH CHECK ADD FOREIGN KEY([MaATM])
REFERENCES [dbo].[SmartATM] ([MaATM])
GO
ALTER TABLE [dbo].[THANHTOANHD]  WITH CHECK ADD FOREIGN KEY([MaThe])
REFERENCES [dbo].[THE] ([MaThe])
GO
ALTER TABLE [dbo].[THANHTOANHD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[THE]  WITH CHECK ADD FOREIGN KEY([MaATM])
REFERENCES [dbo].[SmartATM] ([MaATM])
GO
ALTER TABLE [dbo].[THE]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[VAY]  WITH CHECK ADD FOREIGN KEY([MaATM])
REFERENCES [dbo].[SmartATM] ([MaATM])
GO
ALTER TABLE [dbo].[VAY]  WITH CHECK ADD FOREIGN KEY([MaKV])
REFERENCES [dbo].[KHOANVAY] ([MaKV])
GO
ALTER TABLE [dbo].[VAY]  WITH CHECK ADD FOREIGN KEY([MaThe])
REFERENCES [dbo].[THE] ([MaThe])
GO
USE [master]
GO
